[Unit]
Description=lemonade by persy
After=network.target

[Service]
User=persy
ExecStart=lemonade server --port=59500

[Install]
WantedBy=multi-user.target
